@import 'tailwindcss';

.dock-icon:hover+.dock-icon{
    scale:1.1;
    transform: translateY(-15%);
}
.dock-icon:has(+.dock-icon:hover)
{
    scale:1.1;
    transform: translateY(-15%);
}



*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
};
::-webkit-scrollbar{
    width: 3px;
    overflow: hidden;
    border-radius:4px;
}
::-webkit-scrollbar-thumb{
    background-color: #212226;
}
.cards::-webkit-scrollbar{
    width:0;
    overflow: hidden;
}
.window::-webkit-scrollbar{
    overflow: hidden;
}
pre{
    background-color: transparent !important;
}

/* .song-window{
    width:100%;
    height:100%
}

.song-iframe{
    height: 100%;
    width: 100%; */
/* } */

.resume::-webkit-scrollbar{
    width: 0;
}

