@import 'tailwindcss';

.dock-icon:hover+.dock-icon{
    scale:1.1;
    transform: translateY(-15%);
}
.dock-icon:has(+.dock-icon:hover)
{
    scale:1.1;
    transform: translateY(-15%);
}



*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
};
